{% extends "../layout.html"%}

{% block title %} Добавить родителья {% endblock %}

{% block content %}

	<h3>Добавить <strong>{{relation}}</strong></h3>
	<h4> для: {{person.surname}} {{person.name}} {{person.midname}}</h4>
	<br/>

	<form action="/person/{{person._key}}/add/{{reltype}}" method="post">
		<p><input type="text" size="40" name="surname" placeholder="Фамилия"></p>
		<p><input type="text" size="40" name="name" placeholder="Имя"></p>
		<p><input type="text" size="40" name="midname" placeholder="Отчество"></p>
		{% if reltype == 'mother' or reltype == 'daughter'%}
			<p><input type="text" size="40" name="maidenName" placeholder="Девичья фамилия"></p>
		{% endif %}
		<p><label for="rod">Род</label>
			<select name="rod" id="rod">
				<option value="" selected></option>
				{% for rod in rods %}
					<option value="{{rod._id}}">{{rod.name}}</option>
				{% endfor %}
			</select>
		</p>
	  <textarea name="lifestory" placeholder="Биография" cols="40" rows="5"></textarea>
		<br/>
	  <button type="submit">Добавить {{relation}}</button>
	</form>

{% endblock %}