{% extends "../layout.html"%}

{% block title %} Создать персону {% endblock %}

{% block content %}

	<h3>Создать персону</h3>
	<br/>

	<form action="/person/create" method="post">
		<p><input type="text" size="40" name="surname" placeholder="Фамилия"></p>
		<p><input type="text" size="40" name="name" placeholder="Имя"></p>
		<p><input type="text" size="40" name="midname" placeholder="Отчество"></p>
		<p>пол:
			<label for="radio_man">муж</label> <input type="radio" id="radio_man" name="gender" value="1" checked/>
			<label for="radio_woman">жен</label> <input type="radio" id="radio_woman" name="gender" value="0"/>
		</p>
		<p><input type="text" size="40" name="maidenName" placeholder="Девичья фамилия"></p>
		<p><label for="rod">Род</label>
			<select name="rod" id="rod">
				<option value="" selected></option>
				{% for rod in rods %}
				<option value="{{rod._id}}">{{rod.name}}</option>
				{% endfor %}
			</select>
		</p>
	  <textarea name="lifestory" placeholder="Биография" cols="40" rows="5"></textarea>
		<p><input type="text" size="40" name="email" placeholder="E-mail"></p>
		<p><input type="password" size="40" name="password" placeholder="пароль"></p>
		<br/>
	  <button type="submit">Создать</button>
	</form>

{% endblock %}