{% extends "../layout.html"%}

{% block title %} Изменить персону {% endblock %}

{% block content %}

	<h3>Изменить персону</h3>
	<br/>

	<form action="/person/{{person._key}}/edit" method="post">
		<p><label for="surname">Фамилия</label><br/>
			<input type="text" size="40" name="surname" id="surname" value="{{person.surname}}">
		</p>

		<p><label for="name">Имя</label><br/>
			<input type="text" size="40" name="name" id="name"></p>

		<p><label for="midname">Отчество</label><br/>
			<input type="text" size="40" name="midname" id="midname"></p>

		<p><label for="maidenName">Девичья фамилия</label><br/>
			<input type="text" size="40" name="maidenName" id="maidenName"></p>

		<label for="lifestory">Биография</label><br/>
	  <textarea name="lifestory" id="lifestory" cols="40" rows="5"></textarea>

		<br/>
	  <button type="submit">Внести изменения</button>
	</form>

{% endblock %}