{% extends "../layout.html"%}

{% block title %} Указать связь {% endblock %}

{% block content %}
	<h2>Указать <strong>{{relation}}</strong> для: {{person.surname}} {{person.name}} {{person.midname}}</h2>

	<form action="/person/link" method="post">
		<input type="hidden" name="start_key" value="{{person._key}}">
		<input type="hidden" name="reltype" value="{{reltype}}">
		<p><input type="text" size="40" name="end_key" placeholder="Идентификатор"></p>
		<br/>
	  <button type="submit">Установить связь</button>
	</form>

{% endblock %}