{% extends "../layout.html" %}

{% block styles %}
	<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.1/vis.min.css" rel="stylesheet">
	<style>
		#rod_tree {
			height: 800px;
			/*border: 1px solid lightgray;*/
		}
	</style>
{% endblock %}

{% block title %} {{person.surname}} {{person.name}} {% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-8">
			<div id="rod_tree" ></div>
		</div>
		<div class="col-md-4">
			<h3>{{person.surname}} {{person.name}} {{person.midname}}</h3>
			<p>{{person.lifestory}}</p>

			{#{% if person.rods.length %}
			<p>Род:
				{% for rod in person.rods %}<a href="/rod/{{rod.key}}">{{rod.name}} {% endfor %}</a>
			</p>
			{% endif %}#}

			{% if person.rod %}
			<p>Род: <a href="/rod/{{person.rod.key}}">{{person.rod.name}}</a></p>
			{% endif %}

			<p>Год рождения: {{person.born}}</p>
			<p>Добавил: <a href="/person/{{person.addedBy.key}}">{{person.addedBy.surname}} {{person.addedBy.name}}</a></p>
			<p>id: {{person._key}}</p>

			{% if person.gender == 0 %}
			<p>Девичья фамилия: {{person.maidenName}}</p>
			{% endif %}

			<br>
			<p> <!-- todo: проработать права на добавление -->
				Добавить
				<a href="/person/{{person._key}}/add/father">отца</a> |
				<a href="/person/{{person._key}}/add/mother">мать</a> |
				<a href="/person/{{person._key}}/add/son">сына</a> |
				<a href="/person/{{person._key}}/add/daughter">дочь</a>
			</p>
			<p> <!-- todo: проработать права на указание -->
				Указать
				<a href="/person/{{person._key}}/link/father">отца</a> |
				<a href="/person/{{person._key}}/link/mother">мать</a> |
				<a href="/person/{{person._key}}/link/son">сына</a> |
				<a href="/person/{{person._key}}/link/daughter">дочь</a>
			</p>

			<h3>Предки</h3>
			<ul id="ancestors">
				{% for a in ancestors %}
				<li><a href="/person/{{a.person._key}}">{{a.person.surname}} {{a.person.name}} {{a.person.midname}}</a> {{ a | ancestorRelation }}</li>
				{% endfor %}
			</ul>

			<h3>Потомки</h3>
			<ul id="descendants">
				{% for d in descendants %}
				<li><a href="/person/{{d.person._key}}">{{d.person.surname}}  {{ d.person.name }}</a> {{ d | descendantRelation }}</li>
				{% endfor %}
			</ul>

			<!--<a href="/person/{{person._key}}/edit">Изменить персону</a><br/><br/>-->
			<a href="/person/{{person._key}}/remove">Удалить персону</a>
		</div>
	</div>

{% endblock %}

{% block scripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.1/vis.min.js"></script>

	<script>
        let container = document.getElementById('rod_tree');
        let net_data = {nodes: [], edges: []};

        // provide the data in the vis format
        let options = {
            layout: {
                hierarchical: {
                    sortMethod: "directed"
                }
            },
            edges: {
                smooth: true,
                arrows: {to : true }
            }
        };

		let xhr = new XMLHttpRequest();
		window.onload = function () {
		    xhr.open("GET", "/api/get-anc-des/{{person._key}}", true);
		    xhr.send();
            xhr.onreadystatechange = function() {
                if (xhr.readyState != 4) return;
                if (xhr.status != 200) {
                    alert(xhr.status + ': ' + xhr.statusText);
                } else {
                    let r = JSON.parse(xhr.responseText);
                    // prepare net_data
                    net_data.nodes.push({id: r.person._id, label: `${r.person.surname} ${r.person.name}`});

                    r.ancestors.map(i => {
                        net_data.nodes.push({id: i.person._id, label: `${i.person.surname} ${i.person.name}`});
                        net_data.edges.push({from: i.edge._from, to: i.edge._to});
					});

                    r.descendants.map(i => {
                        net_data.nodes.push({id: i.person._id, label: `${i.person.surname} ${i.person.name}`});
                        net_data.edges.push({from: i.edge._from, to: i.edge._to});
					});
                    // initialize your network!
                    let network = new vis.Network(container, net_data, options);
                }

            }
        };
	</script>
{% endblock %}